WSELE.eleccionesIntegracion/WebRoot/WEB-INF/wsdl/DelegadoEleccionesJuegoWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://delegadoWS.wseleccionesintegracion.coomeva.com.co/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DelegadoEleccionesJuegoWSService" targetNamespace="http://delegadoWS.wseleccionesintegracion.coomeva.com.co/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://delegadoWS.wseleccionesintegracion.coomeva.com.co/" schemaLocation="DelegadoEleccionesJuegoWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="consultarJuego">
    <part element="tns:consultarJuego" name="parameters"/>
  </message>
  <message name="consultarJuegoResponse">
    <part element="tns:consultarJuegoResponse" name="parameters"/>
  </message>
  <message name="Exception">
    <part element="tns:Exception" name="fault"/>
  </message>
  <message name="registrarJuego">
    <part element="tns:registrarJuego" name="parameters"/>
  </message>
  <message name="registrarJuegoResponse">
    <part element="tns:registrarJuegoResponse" name="parameters"/>
  </message>
  <portType name="DelegadoEleccionesJuegoWSDelegate">
    <operation name="consultarJuego">
      <input message="tns:consultarJuego"/>
      <output message="tns:consultarJuegoResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="registrarJuego">
      <input message="tns:registrarJuego"/>
      <output message="tns:registrarJuegoResponse"/>
    </operation>
  </portType>
  <binding name="DelegadoEleccionesJuegoWSPortBinding" type="tns:DelegadoEleccionesJuegoWSDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="consultarJuego">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="registrarJuego">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DelegadoEleccionesJuegoWSService">
    <port binding="tns:DelegadoEleccionesJuegoWSPortBinding" name="DelegadoEleccionesJuegoWSPort">
      <soap:address location="http://10.11.41.70:9092/WSELE.eleccionesIntegra/DelegadoEleccionesJuegoWSPort"/>
    </port>
  </service>
</definitions>
